@font-face {
    font-family: "JejuGothic";
    font-style: normal;
    src: url("./JejuGothic.ttf");
}

@font-face {
    font-family: "SamlipHopang";
    font-style: normal;
    src: url("./Samliphopangche.ttf");
}
